body {
    letter-spacing: 0.25px;
    margin: 1em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited:hover {
    /*color: indigo;*/
}

.site-footer {
    margin: 4em 0;
}

.footer-link {
    display: block;
    margin-bottom: 0.5em;
}

.footnote-link {
    text-decoration: underline;
    font-size: x-small;
    vertical-align: super;
}

.footnote-link:before {
    content: '[';
}

.footnote-link:after {
    content: ']';
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid black;
    padding: 0.25em 0.5em;
    text-align: left;
}

table th {
    background: whitesmoke;
    /*font-weight: normal;*/
}


table th:after {
    font-size: x-small;
    float: right;
    position: relative;
}

table th[aria-selected=true] {
    background: yellow;
}

table th[aria-sort=ascending]:after {
    content: '\25BC';
    top: 5px;
}

table th[aria-sort=descending]:after {
    content: '\25B2';
    top: 2px;
}

.site-header {
    margin-bottom: 2em;
}

.site-header h1 {
    display: inline;
}

/* nav */
.site-nav {
    display: inline;
    margin-bottom: 1em;
    white-space: nowrap;
}

.nav-items {
    padding: 0;
    margin-bottom: 2em;
    display: inline;
}

.nav-item {
    display: inline;
    padding-right: 0.25em;
}


.yearbook__link {
    position: fixed;
    top: 36px;
    right: 1em;
    display: none;
}

.secondary-nav {
}

.secondary-nav__items {
    padding: 0;
    list-style: none;
    margin: 0 0 1em 0;
}

.secondary-nav__item {
    display: inline;
    margin-right: 0.5em;
}


/* students */
.students {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.students th {
    cursor: pointer;
}

.students th:last-child {
    display: none;
}

.students th:hover {
    background: yellow;
}

.student td:last-child {
    line-height: 0;
}

.student td img {
    height: 5vw;
    line-height: 0;
}

.student td:last-child {
    display: none;
}

@media (min-width: 768px) {
    .students th:last-child {
        display: table-cell;
    }
    .student td:last-child {
        display: table-cell;
        width: 50%;
    }
}

/* Graduation */

.year + .graduation {
    margin-top: 4em;
}

.year tbody td:first-child {
    width: 20%;
    background: whitesmoke;
    font-weight: bold;
}

.year + .graduation .graduation__title {
    border: 0;
    background: transparent;
    text-align: left;
}

.graduation__title {
    border: 1px solid black;
    border-bottom: 0;
    background: whitesmoke;
}

.graduation td:last-child img {
    width: 100%;
}

.graduation__image {
    width: 50%;
}

.graduation__documentation {
    width: 30%;
    vertical-align: top;
}


.documentation__list {
    list-style: none;
    padding: 0;
}

.documentation__item {
    display: inline-block;
}

.documentation__item img {
    width: 100px;
    cursor: pointer;
}

.graduation tfoot td:first-child {
    background: whitesmoke;
    font-weight: bold;
}

.graduation + .students {
    margin-top: 5em;
}

.graduation + .students caption {
    text-align: left;
}

.graduation [aria-selected=true] {
    border: 3px solid yellow;
}

/* student profile */
.single-student__title {
    text-align: left;
    border: 1px solid black;
    border-bottom: 0;
    background: whitesmoke;
    padding: 0 0.5em;
}

.hacky-th {
    padding: 0;
    border-top: 0;
}

.single-student__avatar {
    width: 20%;
}

.single-student__avatar img {
    width: 100%;
}

.single-student__key {
    background: whitesmoke;
}

.single-student td:first-child {
    font-weight: bold;
}

/* work listing */
.single-project + .projects,
.single-student + .projects {
    margin-top: 4em;
}

.projects__title {
    text-align: left;
}

.projects td,
.projects th {
    text-align: left;
}

.project__title {
    width: 15%;
}

.project__media {
    width: 50%;
}

.projects img {
    display: inline-block;
    width: 150px;
    max-height: 300px;
}

.project:hover td {
    /*background: yellow;*/
}

/* single project */
.single-project__title {
    border: 1px solid black;
    border-bottom: 0;
    background: whitesmoke;
    padding: 0 0.5em;
}

.single-project td {
    vertical-align: top;
}

.single-project tfoot td:first-child {
    background: whitesmoke;
    font-weight: bold;
}

/* images */
.image-listing {
}

.image-listing__item {
    margin-bottom: 1em;
}

.image-listing__column {
    width: 75%;
    text-align: center;
}

.image-listing__image {
    width: 100%;
}

/* video */
.video-listing__column {
    width: 75%;
}

.video-listing__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    padding: 56.25% 1em 0 1em;
}

.video-listing__frame {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* links  */
.links__title {
    border: 1px solid black;
    border-bottom: 0;
    background: whitesmoke;
}

.link-items {
    padding: 0;
    list-style-position: inside;
}

/* texts  */
.texts {
    padding: 0;
    list-style-position: inside;
}

.years {
}

.years__item {
}

.years__item {
    font-size: large;
}

.years__students {
    padding: 0;
    list-style-position: inside;
}

.filter {
    margin-bottom: 1em;
}

.is-hidden {
    display: none;
}

.links .is-hidden {
    display: table-cell;
    visibility: hidden;
}

