<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

        <title>Sandberg Design Department Archive</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

        <link href="styles.css" rel="stylesheet">
	</head>
    <body>
        <header class="site-header">
            <h1 class="site-header__title">
                <a href="./">Sandberg Design Department Archive</a>
            </h1>
        </header>

        <main class="site-content">
            <% if @yearbook_link %>
                <a href="#" class="yearbook__link">Download yearbook 2015-2016</a>
            <% end %>
