<% if @links %>
<form class="filter">
    <label>Filter:</label>
    <input class="filter-input" type="search" aria-controls="links" data-filter="cells">
</form>

<table class="links">
    <% @links.each.with_index do |link, i| %>
        <% if i % 3 == 0 %><tr><% end %>
        <td>
            <a href="http://<%= link %>"><%= link %></a>
        </td>
        <% if i % 3 == 2 %></tr><% end %>
    <% end %>
</table>
<% end %>
